
<% stylesheet_link_tag 'signup' %>

<div class="container">
	<div class="signup" id="signup">

		<%= form_for (@user) do |f| %>
			<form class="form-horizontal">

			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :firstname %></span>
				<%= f.text_field :firstname, :class => "span3", :id => "data-field", :required => true %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :lastname %></span>
				<%= f.text_field :lastname, :class => "span3", :id => "data-field", :required => true %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :email %></span>
				<%= f.email_field :email, :class => "span3", :id => "data-field", :required => true %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :address %></span>
				<%= f.text_field :address, :class => "span3", :id => "data-field" %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :city %></span>
				<%= f.text_field :city, :class => "span3", :id => "data-field" %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :country %></span>
				<%= f.text_field :country, :class => "span3", :id => "data-field" %>
			</div>
			<br />

			<%= f.submit "Sign up", :class => "btn btn-primary" %>
			<%= submit_tag "Cancel", :class => "btn btn-danger", :redirect_to => :home %>

		</form>
	<% end %>

	</div>
</div>

