
<% content_for :title, "DictyConf Signup" %>

<div class="container">
	<div class="signup">

		<%= form_for @user, :url => users_path do |f| %>
			<form class="form-horizontal">

			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :firstname %></span>
				<%= f.text_field :firstname, :class => "span3", :id => "data-field", :required => true %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :lastname %></span>
				<%= f.text_field :lastname, :class => "span3", :id => "data-field", :required => true %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :email %></span>
				<%= f.email_field :email, :class => "span3", :id => "data-field", :required => true %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :address %></span>
				<%= f.text_field :address, :class => "span3", :id => "data-field" %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :city %></span>
				<%= f.text_field :city, :class => "span3", :id => "data-field" %>
			</div>
			<br />
			<div class="input-prepend">
				<span class="add-on" id="label-field"><%= f.label :country %></span>
				<%= f.text_field :country, :class => "span3", :id => "data-field" %>
			</div>

			<%= f.submit "Sign up", :class => "btn btn-primary" %>
			<%= button_to "Cancel", :home, :class => "btn btn-danger" %>
		<% end %>

	</div>
</div>

