<% content_for :title, "DictyConf" %>

<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item"><%= image_tag("2013/carousel/yellowskyline.jpg") %></div>
		<div class="item"><%= image_tag("2013/carousel/whitewater.jpg") %></div>
		<div class="item"><%= image_tag("2013/carousel/biltmore_estate.jpg") %></div>
		<div class="item"><%= image_tag("2013/carousel/bluemtns.jpg") %></div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="container">
	<div class="row">

		<div class="span6" id="conf_title">
			<h3>Annual International Dictyostelium Conference, <%= DictyConfig.conference['year'] %></h3>
			<br/>
			<h4>
				<%= DictyConfig.conference['begin'] %> - <%= DictyConfig.conference['end'] %> 
				<br/><br/> 
				<%= DictyConfig.conference['location'] %>
			</h4>
		</div>

		<div class="span6">
			<p>Hosted By:</p>
			<p>
			<ul id="hosts">
				<% DictyConfig.hosts.each do |k, v| %>
					<li>
					<address>
						<strong><%= v['name'] %></strong> <br> 
						<%= v['affiliation'] %> <br>
						<a href="mailto:<%= v['email'] %>"><%= v['email'] %></a>
					</address>
					</li>
				<% end %>
			</ul>
			</p>
		</div>

	</div>
</div>

<br/><br/>
<%= render :file => 'home/conference-info' %>
