
<%= stylesheet_link_tag 'nav-bar' %>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav nav-pills">

			<li class="active">
			<%= link_to "Home", :home %>
			</li>

			<li><%= link_to "Abstracts", :controller => 'abstracts',  :action => 'index' %></li>
			<li><%= link_to "Registration", :controller => 'registrations',  :action => 'index' %></li>
			<li><%= link_to "Travel", :controller => 'home', :action => 'travel' %></li>
			<li><%= link_to "Sponsors", :controller => 'home', :action => 'sponsors' %></li>

			<!--<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Archive
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="http://dicty12.dictybase.org">2012</a></li>
				<li><a href="http://dicty09.dictybase.org">2009</a></li>
			</ul>
			</li>-->
		</ul>

		<% if logged_in? %>
			<ul class="nav nav-pills pull-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %>
							<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Edit Profile", edit_users_path %></li>
						<% if is_admin? %>
							<li class="divider"></li>
							<li><%= link_to "View Registrations", :home %></li>	
							<li class="divider"></li>
						<% end %>
						<li><%= link_to "Logout", :logout %></li>
					</ul>
				</li>
			</ul>
		<% else %>
			<ul class="nav nav-pills pull-right">
				<li><%= link_to "Login", :login %></li>
			</ul>
		<% end %>

	</div>
</div>

